@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(30, 30, 30);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-color);
  /* background-color: #050505; */
  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: #050505; */
    background: var(--main-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  /* font-weight: 700; */
  line-height: 1.2;
  margin: 0;
}

/* p, span, li {
  font-family: 'Baumans', cursive;
} */

.philippines-img.image {
  object-fit: contain;
  position: relative !important;
  height: unset !important;
}

.philippines-img.sky {
  filter: invert(57%) sepia(72%) saturate(3541%) hue-rotate(166deg)
    brightness(97%) contrast(90%);
}
.philippines-img.lime {
  filter: invert(84%) sepia(48%) saturate(3228%) hue-rotate(33deg)
    brightness(96%) contrast(83%);
}
.philippines-img.orange {
  filter: invert(68%) sepia(50%) saturate(6420%) hue-rotate(352deg)
    brightness(100%) contrast(96%);
}

.text-lime {
  color: #39ff14;
}

.text-orbitron {
  font-family: "Orbitron", sans-serif;
}

.blink-animation {
  animation: blink 2s linear 2s infinite;
}

input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}

@keyframes blink {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.marker {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 43%;
  left: 43%;
  z-index: 4;
  background-color: #39ff14;
}

.pulse-pin {
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(71, 250, 0);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.image-container {
  position: relative; /* set the container's position to relative */
  width: 100%;
  height: 0; /* set the container's height to 0 to maintain aspect ratio */
  padding-bottom: 56.25%; /* set the padding-bottom to 56.25% to maintain a 16:9 aspect ratio */
}

.image-container .image {
  position: absolute; /* set the image's position to absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* set the image's height to 100% to fill the container */
  object-fit: cover; /* set the object-fit property to cover to ensure the image covers the entire container */
}
